<div class="container">
    <img [src]="theEvent?.imageUrl" [alt]="theEvent?.name" class="event-image">

    <div class="row">
        <div class="col-md-11">
            <h2>{{theEvent?.name}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div><strong>Date:</strong> {{theEvent?.date}}</div>
            <div><strong>Time:</strong> {{theEvent?.time}}</div>
            <div><strong>Price:</strong> ${{theEvent?.price}}</div>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Address:</strong><br />
                {{theEvent?.location?.address}}<br />
                {{theEvent?.location?.city}}, {{theEvent?.location?.country}}
            </address>
        </div>
    </div>

    <hr>

    <session-list [sessions]="theEvent?.sessions"></session-list>

</div>